/* Estilos CSS para la barra de navegación */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Contenedor principal de la barra de navegación */
.navbar-container {
    display: flex;
    align-items: center; 
}
/* Barra de navegación */
.navbar {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-grow: 1; 
}
/* Logo en la barra de navegación */
.navbar-logo {
    margin-right: 20px; 
}

/* Enlaces en la barra de navegación */
.navbar a {
    font-size: 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 14px 8px; 
}
/* Menú desplegable */
.dropdown {
    position: relative;
}
/* Botón del menú desplegable */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: hsl(0, 0%, 8%);
    background-color: inherit;
    padding: 14px 16px;
    cursor: pointer;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}
/* Contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; 
}
/* Estilos para los elementos en el menú desplegable */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Mostrar el menú desplegable al pasar el cursor sobre él */

.dropdown:hover .dropdown-content {
    display: block;
}
/* Contenedor para botones de registro e inicio de sesión */
.login-register {
    display: flex;
    align-items: center; 
}
/* Estilos para el botón de registro */
.login-register button.register,
.login-register button.login {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}
/* Estilos para el botón de inicio de sesión */
.login-register button.login {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Contenedor para las imágenes */
.imagen-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 5px;
    margin-top: -450px;
    position: relative;
    flex-wrap: wrap;
}
/* Estilos para las imágenes */
.imagen {
    max-width: 40%;
    height: auto;
 
}

/* Estilos para los elementos de texto y botones */
.make {
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    top: 110px;
    left: 190px;
}

.remote-work {
    font-size: 75px;
    font-weight: bold;
    position: absolute;
    top: 167px;
    left: 190px;
}

.texto-container {
    position: absolute;
    top: 370px;
    left: 190px;
    width: 460px;
}

.texto {
    font-size: 16px;
}
/* Estilos para el botón Learn More */
.boton-learn-more {
    text-align: left;
    margin-top: 420px;
    padding-left: 190px;
}

.boton {
    padding: 8px 16px;
    background-color: white;
    color: black;
    padding: 2px 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
/* Cambio de color al pasar el cursor sobre el botón */
.boton:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

/* Estilos para contenedor de SVG */
.svg-container {
    display: flex;
    margin-top: 40px;
    margin-left: 190px;
    position: absolute;
}
.navbar-logo {
    margin-right: 10px;
}
.down-arrow {
    display: inline-block;
}

.up-arrow {
    display: none;
}

#Dropdown:hover .down-arrow {
    display: none;
}

#Dropdown:hover .up-arrow {
    display: inline-block;
}

.image-spacing {
    margin-right: 50px; /* Ajusta el valor según el espacio que desees entre las imágenes */
}

/* responsivo */
/*movil*/
@media screen and (max-width: 768px) {
    /* Contenedor de imágenes en pantalla móvil */
   .imagen-containermov {
        display: block;
        text-align: center;
        margin: 110px auto; 
        width: 100%; 
        position: absolute;
        top: 0; 
    }
 /* Estilos para imágenes en pantalla móvil */
    .imagenmov {
        max-width: 100%;
        height: auto;
    }

   /* Ocultar el contenedor de imágenes en pantalla móvil */
    .imagen-container {
        display: none;
    }
   /* Icono de menú móvil */
    .mobile-menu-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .mobile-menu-icon img {
        width: 30px;
        height: auto;
    }
  /* Estilos para la barra de navegación en pantalla móvil */
    .navbar {
        display: relative; 
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff; 
        flex-direction: column;
        align-items: flex-start;
        z-index: 2; 
    }

    .navbar a {
        display: block;
        padding: 10px 20px;
        text-align: left;
    }
/* Cambio de color al pasar el cursor sobre enlaces en pantalla móvil */
    .navbar a:hover {
        background-color: #ccc;
    }

    .dropdown {
        display: block;
    }
    .make,
    .remote-work {
        margin-top: 500px; /* Ajusta según sea necesario */
        white-space: nowrap; 
    }
    .texto-container{
        margin-top: 400px;
      
    }
    .svg-container{
        margin-top: 20px;
    }
     /* Ajuste de estilo para el botón Learn More en pantalla móvil */
    .boton-learn-more{
       
        margin-top: 820px ; 
}
}


/* pc */

@media screen and (min-width:769px) {

   .imagen-containermov  {
        display: none;
    }
    .navbar {
        display: flex; 
    }
}
